* {
  font-family: monospace;
}

html {
  background-image: url(./images/background.jpg);
}

h1,
#game-score {
  font-size: 50px;
  text-align: center;
  color: white;
  margin: 20px;
  border: 3px solid black;
  padding: 15px;
  background-color: #00000057;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 50px 0px 10px 0px;
}

.score-text {
  display: flex;
  justify-content: space-evenly;
}

img {
  margin: 10px;
  width: 200px;
  height: 200px;
}

.score-text p {
  font-size: 30px;
  color: white;
  border: 3px solid black;
  padding: 15px;
  background-color: #00000057;
}

.buttons button p {
  color: white;
  font-size: 30px;
}

#rock {
  background-color: #490a8dbb;
}

#paper {
  background-color: #fa5ca6a1;
}

#scissors {
  background-color: #5dabfeb9;
}

#play-again {
  display: flex;
  justify-content: center;
}

#play-again-btn {
  color: white;
  font-size: 30px;
  background-color: #fa5ca67b;
  display: flex;
}

i {
  margin: 35px 20px 10px 20px;
}

#play-again-btn p {
  margin-right: 20px;
}

@media only screen and (max-width: 992px) {
  #game-score {
    font-size: 40px;
    margin: 15px;
  }

  img {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (max-width: 672px) {
  h1,
  #game-score {
    font-size: 25px;
  }

  .buttons {
    gap: 20px;
  }

  img {
    width: 90px;
    height: 90px;
  }

  .score-text p {
    font-size: 15px;
  }

  .buttons button p {
    font-size: 20px;
  }
}
